*{
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}
.main-form{
  width: 450px;
  margin: auto;
}

.navbar{
  display: flex;
  background-color: black;
  opacity: 0.8;
}
.headings h1{
  display: flex;
  justify-content: flex-start;
}
.navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 15px 0px;
}
.navbar ul li{
  font-size: 1.5rem;
}
.navbar ul li a{
  color: white;
  padding: 8px 25px;
  border: 2px solid black;
}
.navbar ul li a:hover{
  background-color: black;
  color: white;
}
body{
  text-align: center;
  background-color: black;
}
.main-form button{
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
.main-form button:hover{
  background-color: white;
  color: black;
}
#month{
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
#day{
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
#year{
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
.card{
  background-color: black;
  border: 2px solid black;
  opacity: 0.8;
}
/*.card:hover{
  opacity: 1.0;
}*/
body{
  background-color: transparent;
  color: white;
}

/*.gender{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/
