*{
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}
.main-form{
  width: 400px;
  margin: auto;
}

.navbar{
  display: flex;
  background-color: black;
  opacity: 0.8;
}
.headings h1{
  display: flex;
  justify-content: flex-start;
}
.navbar{
  float: left;
  width: 30%;
}
.navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 15px 0px;
}
.navbar ul li{
  font-size: 1.5rem;
}
.navbar ul li a{
  color: white;
  padding: 8px 25px;
  border: 2px;
  border-radius: 10px;
}
.navbar ul li a:hover{
  background-color: grey;
  color: black;
}
body{
  text-align: center;
  background-color: black;
}
.main-form button{
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
.main-form button:hover{
  background-color: grey;
  color: black;
}
/*
.inp{
  padding: 5px 20px;
  margin: 5px;
  align-self: center;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
.inp:hover{
  background-color: grey;
  color: black;
}
.inp > inp1{
  background-color: black;
  color: white;
  border-block-color: transparent;
}*/
#month{
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
#month:hover{
  background-color: white;
  color: black;
}
#day{
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
#day:hover{
  background-color: white;
  color: black;
}
#year{
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
}
#year:hover{
  background-color: white;
  color: black;
}
.ninja{
  /*border: 1px solid white;
  border-radius: 5px;*/
  margin: 15px;
}
.mdem{
  /*border: 1px solid white;
  border-radius: 5px;*/
  margin: 15px;
}
.card{
  background-color: black;
  border: 2px solid black;
  opacity: 0.8;
}
/*.card:hover{
  opacity: 1.0;
}*/
body{
  background-color: transparent;
  color: white;
}
#Home{
  border: 1px solid white;
  border-radius: 20px;
}
.container{
  border-width: 4px 1.25em;
}
.output{
  background-color: grey;
  color: black;
}
/*.gender{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.body{
  background:url('images/bgrnd5.jpg');
  hrignt: 100%;

}*/
